{% extends "layout.njk" %}

{% block content %}
<div class="nav flex-row">
  <div class="logo">
    <img src='assets/logo.png' class="logo-image">
  </div>
</div>
<div class="upper_section flex-row">
  <div class="content_block one-half">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
  <div class="image_block one-half">
    <img src='assets/placeholder.png' class="image-full-width">
  </div>
</div>


<div class="lower_section flex-row">
  <div class="form one-half" id="form-container">
    <div class="label">
      Name:
    </div>
    <div class="input">
      <input type="text" / id="comment-name-input">
    </div>
    <div class="label">
      Comments:
    </div>
    <div class="input">
      <textarea id="comment-body-input"></textarea>
    </div>
    <div class="input">
      <button id="submit-button">Submit</button>
    </div>
  </div>
  <div class="comments one-half" id="comment-container">
    <div class="comment">
      <div class="comment-name">
        First Person
      </div>
      <div class="comment-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
</div>
{% endblock %}
